# Chameleon Ultra linux modem-manager de-confliction file
#
# copy this file to /etc/udev/rules.d (or add the entry to the end of an existing file)
# and restart udev hotplug:
#
#  'sudo udevadm control --reload-rules'
#

# proxmark3
ACTION!="add|change", GOTO="chameleon_usb_device_blacklist_end"
SUBSYSTEM!="tty", GOTO="chameleon_ignore"

ATTRS{idVendor}=="6868" ATTRS{idProduct}=="8686", ENV{ID_MM_DEVICE_IGNORE}="1" SYMLINK+="ultra-%n" MODE="660" GROUP="dialout"

LABEL="chameleon_ignore"
ATTRS{idVendor}=="2d2d" ATTRS{idProduct}=="504d", ENV{ID_MM_DEVICE_IGNORE}="1"

LABEL="chameleon_usb_device_blacklist_end"