name: Firmware build

on:
  [push, pull_request]:
    paths-ignore:
      - 'resource/**'
      - 'hardware/**'
      - 'software/**'
      - '*.md'

jobs:
  build_fw_builder:
    name: Build and push fw-builder Docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    outputs:
      image_hash: ${{ steps.push.outputs.digest }}
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: ghcr.io login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}-fw-builder
      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@v4
        with:
          context: firmware
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  build_fw:
    name: Build firmware
    runs-on: ubuntu-latest
    needs: build_fw_builder
    strategy:
      matrix:
        device_type: [ultra, lite]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Build firmware
        env:
          repo: ${{ github.repository }}
        run: |
          docker run --rm -v ${PWD}:/workdir -e CURRENT_DEVICE_TYPE=${{ matrix.device_type }} ghcr.io/${repo,,}-fw-builder@${{ needs.build_fw_builder.outputs.image_hash }} firmware/build.sh
      - name: Upload built binaries
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.device_type }}-firmware
          path: firmware/objects/*.hex
      - name: Unzip dfu images
        run: |
          sudo chown -R $USER:$USER firmware/objects
          mkdir firmware/objects/dfu-app
          mkdir firmware/objects/dfu-full
          unzip firmware/objects/dfu-app.zip -d firmware/objects/dfu-app
          unzip firmware/objects/dfu-full.zip -d firmware/objects/dfu-full
      - name: Upload dfu app image
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.device_type }}-dfu-app
          path: firmware/objects/dfu-app/*
      - name: Upload dfu full image
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.device_type }}-dfu-full
          path: firmware/objects/dfu-full/*
  create_release:
    permissions:
      contents: write
    name: Create Pre-Release with dfu app images
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs:
      - build_fw
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Download Ultra DFU
        uses: actions/download-artifact@v3
        with:
          name: ultra-dfu-app
          path: ultra-dfu-app
      - name: Compress Ultra DFU package
        run: |
          zip --junk-paths -0 -r ./ultra-dfu-app.zip ./ultra-dfu-app/*
      - name: Download Lite DFU
        uses: actions/download-artifact@v3
        with:
          name: lite-dfu-app
          path: lite-dfu-app
      - name: Compress Lite DFU package
        run: |
          zip --junk-paths -0 -r ./lite-dfu-app.zip ./lite-dfu-app/*
      - name: Upload to dev release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            Auto-Generated DFU packages from latest `main` commit.
            For development purposes only. 
            These are not tested, here be dragons.
            Built from commit ${{ github.sha }}
          tag_name: dev
          name: Development release
          draft: false
          prerelease: true
          target_commitish: main
          generate_release_notes: true
          files: ./*-dfu-app.zip
